<!DOCTYPE html>
<html>
<head>
    <title>JS Apnea Timer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://unpkg.com/vue"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.15/lodash.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" 
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<body>
    <div id="app" class="container">
        <h1>Apnea Timer</h1>
        <div v-if="state == 'list'">
            <p>Select a table</p>
            <ol class="list-group">
                <li is="table-item"
                    v-for="(table, index) in tables"
                    v-bind:table="table"
                    v-bind:table-index="index"
                    v-bind:key="table.label"
                    v-on:edit-table="editTable"
                    v-on:go-table="goTable"
                ></li>
            </ol>
        </div>

        <div is="edit-table"
            v-if="state == 'edit' && tableIndex > -1"
            v-bind:inital-table="tables[tableIndex]"
            v-bind:table-index="tableIndex"
            v-bind:key="tables[tableIndex].label"
            v-on:save-edit="saveEdit"
            v-on:cancel-edit="cancelEdit">
        </div>

        <div is="timer"
            v-if="state == 'timer' && tableIndex > -1"
            v-bind:inital-table="tables[tableIndex]"
            v-bind:table-index="tableIndex"
            v-bind:key="tables[tableIndex].label"
            v-on:done="done"
        >
        </div>

    </div> <!-- end app -->

    <script src="globals.js"></script>
    <script src="timer.js"></script>
    <script src="edit-table-interval.js"></script>
    <script src="table-item.js"></script>
    <script src="edit-table.js"></script>

    <script src="app.js"></script>
</body>
</html>